<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/customer/layout/index :: dynamic(~{::title}, ~{::main})}">

<head>
    <title>TUTA - Login</title>
</head>

<body>
<main class="site-main">
    <!--================Login Box Area =================-->
    <section class="login_box_area section-margin">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login_box_img">
                        <div class="hover">
                            <h4>Bạn mới ghé thăm trang web của chúng tôi?</h4>
                            <p>Dành thời gian để khám phá trang web của chúng tôi! Cập nhật với những cuốn sách mới
                                với những câu chuyện bổ ích.</p>
                            <a class="button button-account" th:href="@{/register/view}">Sign up</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login_form_inner">
                        <h3>Login to buy</h3>
                        <form class="row login_form" th:action="@{/security/login}" method="post" >
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" name="username"
                                       placeholder="Tên đăng nhập"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên đăng nhập'">
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="password" class="form-control" name="password" placeholder="Mật khẩu"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'Mật khẩu'">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account">
                                    <input type="checkbox" name="remember-me">
                                    <label>Giữ tôi luôn đăng nhập</label>
                                </div>
                            </div>
                            <div class="col-md-12 form-group">
                                <span class="text-center message-error text-danger" th:text="${message}"></span>
                                <button type="submit" class="button button-login w-100 m-2">Đăng Nhập
                                </button>
                                <a href="forgotpassword.html">Quên mật khẩu ?</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Login Box Area =================-->
</main>
</body>

</html>