<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Aroma Shop - Cart</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<link rel="icon" href="/customer/img/Fevicon.png" type="image/png">
<link rel="stylesheet"
	href="/customer/vendors/bootstrap/bootstrap.min.css">
<link rel="stylesheet"
	href="/customer/vendors/fontawesome/css/all.min.css">
<link rel="stylesheet"
	href="/customer/vendors/themify-icons/themify-icons.css">
<link rel="stylesheet" href="/customer/vendors/linericon/style.css">
<link rel="stylesheet"
	href="/customer/vendors/owl-carousel/owl.theme.default.min.css">
<link rel="stylesheet"
	href="/customer/vendors/owl-carousel/owl.carousel.min.css">
<link rel="stylesheet"
	href="/customer/vendors/nice-select/nice-select.css">
<link rel="stylesheet"
	href="/customer/vendors/nouislider/nouislider.min.css">
<link rel="stylesheet" href="/customer/css/style.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/angular-shop/shopping-cart-app.js"></script>
</head>
<body ng-app="shopping-cart-app" ng-controller="shopping-cart-ctrl">
	<!--================ Start Header Menu Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<a class="navbar-brand logo_h" th:href="@{/}"><img
						src="/customer/img/logo.png" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent" aria-expanded="false"
						aria-label="Toggle navigation">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<div class="collapse navbar-collapse offset"
						id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto mr-auto">
							<li class="nav-item active"><a class="nav-link"
								th:href="@{/}">Home</a></li>
								<li class="nav-item submenu dropdown"><a
								th:href="@{/product/list}" class="nav-link dropdown-toggle"
								data-toggle="" role="button" aria-haspopup="true"
								aria-expanded="false">Shop</a>
								<!-- <ul class="dropdown-menu">
									<li class="nav-item"><a class="nav-link"
										href="checkout.html">Product Checkout</a></li>
									<li class="nav-item"><a class="nav-link"
										th:href="@{/confirmation/view}">Confirmation</a></li>
									<li class="nav-item"><a class="nav-link" href="cart.html">Shopping
											Cart</a></li>
								</ul> --></li>
								<li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
							<th:block th:if="${#request.remoteUser}">
							
							<li th:if="${#request.isUserInRole('director') or #request.isUserInRole('staff')}" class="nav-item"><a class="nav-link" href="contact.html">Administration</a></li>
						</ul>

						<ul class="nav-shop">
							<!-- <li class="nav-item"><button>
									<i class="ti-search"></i>
								</button></li> -->
							<li class="nav-item">
                                <a sec:authorize="isAuthenticated()" th:href="@{/profile/view}">
                                    <i class="ti-user"></i>
                                </a>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/security/login/form}">
                                    <i class="ti-user"></i>
                                </a>
                        </li>
                        <li><a class="">Welcome [[${#request.remoteUser}]]</a></li>
							<li class="nav-item"><button>
									<a th:href="@{/cart/view}" class="ti-shopping-cart text-dark ms-3"></a><span
										class="nav-shop__circle">{{cart.count}}</span>
								</button></li>
						</th:block>
						<th:block th:unless="${#request.remoteUser}">
							<li class="nav-item"><a class="button button-header"
								th:href="@{/login/view}">Login</a></li>
						</th:block>
						</ul>			
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->
	<section class="blog-banner-area" id="category">
		<div class="container h-100" style="background-color: #384aeb">
			<div class="blog-banner">
				<div class="text-center">
					<h1 class="text-white">Shopping Cart</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="#" class="text-white">Home</a></li>
							<li class="breadcrumb-item active text-white" aria-current="page">Shopping
								Cart</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- ================ end banner area ================= -->



	<!--================Cart Area =================-->
	<section class="cart_area">
		<div class="container">
			<div class="cart_inner">
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Price</th>
								<th scope="col">Quantity</th>
								<th scope="col">Total</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in cart.items">
								<td>
									<div class="media">
										<div class="d-flex">
											<img style="width: 150px;"
												src="/customer/img/books/{{item.thumbnailImage}}" alt="">
										</div>
										<div class="media-body">
											<p>{{item.name}}</p>
										</div>
										<div>
											<div class="btn btn-primary btn-sm mt-5">
												<a ng-click="cart.remove(item.id)" class="text-white">Delete
													Product</a>
											</div>
										</div>
									</div>
								</td>
								<td>
									<h5>{{item.price | number}} VNĐ</h5>
								</td>
								<td>
									<div class="product_count">
										<input ng-change="cart.savaToLocalStorage()" ng-model="item.qty" type="number" min="1" name="qty"
											id="sst" maxlength="12" value="1" title="Quantity:"
											class="input-text qty">
									</div>
								</td>
								<td>
									<h5>{{item.qty * item.price | number}}</h5>
								</td>
							</tr>
							<tr class="bottom_button">
								<td><a class="button" ng-click="cart.clear()" href="#">Delete
										Cart</a><a class="button ms-3" th:href="@{/product/list}">Continue
										Shopping</a></td>
								<td></td>
								<td></td>
								<td></td>
								<td>
									<div class="cupon_text d-flex align-items-center">
										<input type="text" placeholder="Coupon Code"> <a
											class="primary-btn" href="#">Apply</a>
									</div>
								</td>
							</tr>
							<tr>
								<td></td>
								<td></td>
								<td>
									<h5>Subtotal</h5>
								</td>
								<td>
									<h5>{{cart.mount | number}} VNĐ</h5>
								</td>
							</tr>
							<!-- <tr class="shipping_area">
								<td class="d-none d-md-block"></td>
								<td></td>
								<td>
									<h5>Shipping</h5>
								</td>
								<td>
									<div class="shipping_box">
										<ul class="list">
											<li><a href="#">Flat Rate: $5.00</a></li>
											<li><a href="#">Free Shipping</a></li>
											<li><a href="#">Flat Rate: $10.00</a></li>
											<li class="active"><a href="#">Local Delivery: $2.00</a></li>
										</ul>
										<h6>
											Calculate Shipping <i class="fa fa-caret-down"
												aria-hidden="true"></i>
										</h6>
										<select class="shipping_select">
											<option value="1">Bangladesh</option>
											<option value="2">India</option>
											<option value="4">Pakistan</option>
										</select> <select class="shipping_select">
											<option value="1">Select a State</option>
											<option value="2">Select a State</option>
											<option value="4">Select a State</option>
										</select> <input type="text" placeholder="Postcode/Zipcode"> <a
											class="gray_btn" href="#">Update Details</a>
									</div>
								</td>
							</tr> -->
							<tr class="out_button_area">
								<td class="d-none-l"></td>
								<td class=""></td>
								<td></td>
								<td>
									<div
										class="checkout_btn_inner d-flex align-items-center justify-content-center">
										<a class="primary-btn" th:href="@{/order/checkout}">Proceed to checkout</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Cart Area =================-->



	<!--================ Start footer Area  =================-->
	<footer>
<div class="footer-area footer-only">
    <div class="container">
        <div class="row section_gap">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h2 class="footer_title" style="font-size: 25px;">Sứ mệnh của chúng tôi</h2>
                    <p>
                        Sứ mệnh của chúng tôi là mang đến những sản phẩm và dịch vụ mang lại lợi ích cho khách hàng.
                    </p>
                    <p>
                        Chúng tôi hướng đến việc xây dựng một môi trường sống và làm việc tốt hơn, mang lại giá trị và
                        cơ hội
                        phát triển cho cả cộng đồng và khách hàng của chúng tôi.
                    </p>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-4 col-md-12 col-sm-12">
                <div class="single-footer-widget tp_widgets" style="text-align: center;">
                    <h4 class="footer_title">Team</h4>
                    <ul class="list">
                        <li>Trịnh Duy Bảo</li>
                        <li>Lưu Đức Bình</li>
                    </ul>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h4 class="footer_title">Liên Hệ Với Chúng Tôi</h4>
                    <div class="ml-40">
                        <p class="sm-head">
                            <span class="fa fa-location-arrow"></span>
                            Trụ sở chính
                        </p>
                        <p>Cao Đẳng Thực Hành FPT Polytechnic</p>

                        <p class="sm-head">
                            <span class="fa fa-phone"></span>
                            Điện Thoại
                        </p>
                        <p>
                            0986 699 392
                        </p>

                        <p class="sm-head">
                            <span class="fa fa-envelope"></span>
                            Email
                        </p>
                        <p>
                            baotdps24392@fpt.edu.vn
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row d-flex">
            <p class="col-lg-12 footer-text text-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | This website is made with
                <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/profile.php?id=100034754954878"
                                                                     target="_blank">Trịnh Duy Bảo</a>
            </p>
        </div>
    </div>
</div>
</footer>
	<!--================ End footer Area  =================-->



	<script src="/customer/vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="/customer/vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/customer/vendors/skrollr.min.js"></script>
	<script src="/customer/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="/customer/vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="/customer/vendors/nouislider/nouislider.min.js"></script>
	<script src="/customer/vendors/jquery.ajaxchimp.min.js"></script>
	<script src="/customer/vendors/mail-script.js"></script>
	<script src="/customer/js/main.js"></script>
</body>
</html>