<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Aroma Shop - Checkout</title>
	<link rel="icon" href="/customer/img/Fevicon.png" type="image/png">
  <link rel="stylesheet" href="/customer/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/customer/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/customer/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/customer/vendors/linericon/style.css">
  <link rel="stylesheet" href="/customer/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/customer/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/customer/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/customer/vendors/nouislider/nouislider.min.css">
  <link rel="stylesheet" href="/customer/css/style.css">
  <script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script src="/angular-shop/checkout-cart-app.js"></script>

</head>
<body ng-app="checkout-cart-app" ng-controller="checkout-cart-ctrl">
  <!--================ Start Header Menu Area =================-->
	<header class="header_area">
    <div class="main_menu" >
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <!-- <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a> -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
            <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
              <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
              <li class="nav-item active submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Shop</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="category.html">Shop Category</a></li>
                  <li class="nav-item"><a class="nav-link" href="single-product.html">Product Details</a></li>
                  <li class="nav-item"><a class="nav-link" href="checkout.html">Product Checkout</a></li>
                  <li class="nav-item"><a class="nav-link" href="confirmation.html">Confirmation</a></li>
                  <li class="nav-item"><a class="nav-link" href="cart.html">Shopping Cart</a></li>
                </ul>
							</li>
              <li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Blog</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                  <li class="nav-item"><a class="nav-link" href="single-blog.html">Blog Details</a></li>
                </ul>
							</li>
							<li class="nav-item submenu dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                  aria-expanded="false">Pages</a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="login.html">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="register.html">Register</a></li>
                  <li class="nav-item"><a class="nav-link" href="tracking-order.html">Tracking</a></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
            </ul>

            <ul class="nav-shop">
              <li class="nav-item"><button><i class="ti-search"></i></button></li>
              <li class="nav-item"><button><i class="ti-shopping-cart"></i><span class="nav-shop__circle">3</span></button> </li>
              <li class="nav-item"><a class="button button-header" href="#">Buy Now</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
	<!--================ End Header Menu Area =================-->

	<!-- ================ start banner area ================= -->	
	<section class="blog-banner-area" id="category">
		<div class="container h-100">
			<div class="blog-banner">
				<div class="text-center">
					<h1>Product Checkout</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
          </nav>
				</div>
			</div>
    </div>
	</section>
	<!-- ================ end banner area ================= -->
  
  
  <!--================Checkout Area =================-->
  <section class="checkout_area section-margin--small" >
    <div class="container">
        <div class="billing_details">
            <div class="container-fluid">

                    <div class="order_box" >
                        <h2>Your Order</h2>
                        <!-- <ul class="list">
                            <li><a href="#"><h4>Sản phẩm <span>Số lượng</span> <span>Đơn giá</span></h4></a></li>
                            <li ng-repeat="item in cart.items"><a href="#">{{item.name}}<span class="middle">x {{item.qty}}</span> <span class="last">{{item.price | number}} VNĐ</span></a></li>

                        </ul> -->
                        <table class="table customtable">
                          <thead class="customtablee">
                            <td>Sản phẩm</td> 
                            <td>Số lượng</td>
                            <td>Đơn giá</td>
                            <td>Thành tiền</td>
                          </thead>
                          <tr ng-repeat="item in cart.items">
                            <td>{{item.name}}</td>
                            <td>{{item.qty}}</td>
                            <td>₫{{item.qty * item.price | number}} </td>
                            <td>₫{{item.price | number}} </td>
                          </tr>

                        </table>
                        <ul class="list list_2">
                            <!-- <li><a href="#">Subtotal <span>$2160.00</span></a></li> -->
                            <!-- <li><a href="#">Shipping <span>Flat rate: $50.00</span></a></li> -->
                            <li><a href="#">Tổng số tiền: ({{cart.count}} sản phẩm) <span>{{cart.mount | number}} VNĐ</span></a></li>
                        </ul>
                        <div class="payment_item">
                          <h2 class="text-center mb-4" >Chọn hình thức thanh toán</h2>
                          <div class="form-group  text-center">
                            <!-- <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="credit-card" name="payment" value="credit-card">
                                <label class="form-check-label" for="credit-card">Thẻ tín dụng <i class="fab fa-cc-visa ml-2"></i> <i class="fab fa-cc-mastercard ml-1"></i></label>
                            </div>
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="paypal" name="payment" value="paypal">
                                <label class="form-check-label" for="paypal">PayPal <i class="fab fa-paypal ml-2"></i></label>
                            </div>
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="bank-transfer" name="payment" value="bank-transfer">
                                <label class="form-check-label" for="bank-transfer">Chuyển khoản ngân hàng <i class="fas fa-university ml-2"></i></label>
                            </div> -->
    
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" id="cash-on-delivery" name="payment" value="cash-on-delivery">
                                <label class="form-check-label" for="cash-on-delivery">Thanh toán khi nhận hàng <i class="fas fa-truck ml-2"></i></label>
                            </div>
                        </div>
                       

                        <div class="text-center">
                          <a class="button button-paypal placeOrderBtn" ng-click="placeOrder()">Đặt hàng</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->



  <!--================ Start footer Area  =================-->	
	<footer>
		<div class="footer-area footer-only">
			<div class="container">
				<div class="row section_gap">
					<div class="col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets ">
							<h4 class="footer_title large_title">Our Mission</h4>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no 
								divided deep moved us lan Gathering thing us land years living.
							</p>
							<p>
								So seed seed green that winged cattle in. Gathering thing made fly you're no divided deep moved 
							</p>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Quick Links</h4>
							<ul class="list">
								<li><a href="#">Home</a></li>
								<li><a href="#">Shop</a></li>
								<li><a href="#">Blog</a></li>
								<li><a href="#">Product</a></li>
								<li><a href="#">Brand</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-2 col-md-6 col-sm-6">
						<div class="single-footer-widget instafeed">
							<h4 class="footer_title">Gallery</h4>
							<ul class="list instafeed d-flex flex-wrap">
								<!-- <li><img src="img/gallery/r1.jpg" alt=""></li>
								<li><img src="img/gallery/r2.jpg" alt=""></li>
								<li><img src="img/gallery/r3.jpg" alt=""></li>
								<li><img src="img/gallery/r5.jpg" alt=""></li>
								<li><img src="img/gallery/r7.jpg" alt=""></li>
								<li><img src="img/gallery/r8.jpg" alt=""></li> -->
							</ul>
						</div>
					</div>
					<div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
						<div class="single-footer-widget tp_widgets">
							<h4 class="footer_title">Contact Us</h4>
							<div class="ml-40">
								<p class="sm-head">
									<span class="fa fa-location-arrow"></span>
									Head Office
								</p>
								<p>123, Main Street, Your City</p>
	
								<p class="sm-head">
									<span class="fa fa-phone"></span>
									Phone Number
								</p>
								<p>
									+123 456 7890 <br>
									+123 456 7890
								</p>
	
								<p class="sm-head">
									<span class="fa fa-envelope"></span>
									Email
								</p>
								<p>
									free@infoexample.com <br>
									www.infoexample.com
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="footer-bottom">
			<div class="container">
				<div class="row d-flex">
					<p class="col-lg-12 footer-text text-center">
						<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!--================ End footer Area  =================-->



  <script src="/customer/vendors/jquery/jquery-3.2.1.min.js"></script>
	<script src="/customer/vendors/bootstrap/bootstrap.bundle.min.js"></script>
	<script src="/customer/vendors/skrollr.min.js"></script>
	<script src="/customer/vendors/owl-carousel/owl.carousel.min.js"></script>
	<script
		src="/customer/vendors/nice-select/jquery.nice-select.min.js"></script>
	<script src="/customer/vendors/nouislider/nouislider.min.js"></script>
	<script src="/customer/vendors/jquery.ajaxchimp.min.js"></script>
	<script src="/customer/vendors/mail-script.js"></script>
	<script src="/customer/js/main.js"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
      <!-- Bootstrap CSS -->
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <!-- Font Awesome CSS -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
      <!-- Custom CSS -->

  <style>

     .payment-options {
            max-width: 600px;
            margin: 0 auto;
        }

        .payment-options label {
            display: block;
        }

        .payment-options .form-check-inline {
            margin-right: 20px;
        }

        .payment-options .btn-pay {
            margin-top: 20px;
        }

        .customtable > .customtablee {
          font-weight: bold !important;
        }

       
</style>
</body> 
</html>