<footer>
<div class="footer-area footer-only">
    <div class="container">
        <div class="row section_gap">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h2 class="footer_title" style="font-size: 25px;">Sứ mệnh của chúng tôi</h2>
                    <p>
                        Sứ mệnh của chúng tôi là mang đến những sản phẩm và dịch vụ mang lại lợi ích cho khách hàng.
                    </p>
                    <p>
                        Chúng tôi hướng đến việc xây dựng một môi trường sống và làm việc tốt hơn, mang lại giá trị và
                        cơ hội
                        phát triển cho cả cộng đồng và khách hàng của chúng tôi.
                    </p>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-4 col-md-12 col-sm-12">
                <div class="single-footer-widget tp_widgets" style="text-align: center;">
                    <h4 class="footer_title">Liên kết nhanh</h4>
                    <ul class="list">
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="register.html">Register</a></li>
                        <li><a href="forgotpassword.html">Forgot Password</a></li>
                    </ul>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h4 class="footer_title">Liên Hệ Với Chúng Tôi</h4>
                    <div class="ml-40">
                        <p class="sm-head">
                            <span class="fa fa-location-arrow"></span>
                            Trụ sở chính
                        </p>
                        <p>Võ Nguyên Giáp, Hoài Nhơn, Bình Định</p>

                        <p class="sm-head">
                            <span class="fa fa-phone"></span>
                            Điện Thoại
                        </p>
                        <p>
                            037 6758 600
                        </p>

                        <p class="sm-head">
                            <span class="fa fa-envelope"></span>
                            Email
                        </p>
                        <p>
                            ads.tranvannhan@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container">
        <div class="row d-flex">
            <p class="col-lg-12 footer-text text-center">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script>
                All rights reserved | This website is made with
                <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://www.facebook.com/tranvannhan.77c1"
                                                                     target="_blank">Trần Văn Nhân</a>
            </p>
        </div>
    </div>
</div>
</footer>