<header class="header_area" xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" th:href="@{/home/index}"><img src="/customer/img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item"><a class="nav-link" th:href="@{/home/index}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/shop}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                    </ul>
                    <ul class="nav-shop">
                        <li class="nav-item">
                                <a sec:authorize="isAuthenticated()" th:href="@{/profile}">
                                    <i class="ti-user"></i>
                                </a>
                                <a sec:authorize="!isAuthenticated()" th:href="@{/login/form}">
                                    <i class="ti-user"></i>
                                </a>
                        </li>
                       <!-- <li class="nav-item"><button><a th:href="@{/login}"><i class="ti-user"></i></a></button></li>-->
                        <li class="nav-item"><a th:href="@{/cart/view}"><button><i class="ti-shopping-cart"></i><span
                                class="nav-shop__circle">{{cart.count}}</span></button> </a></li>
                        <li class="nav-item"><a class="button button-header" th:href="@{/shop}">Mua Ngay</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>